lib/flows/flows.json
[
    {
        "id": "9ab91bb2.9ce5d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b9a910fea35c5710",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "87be6b70d2067abc",
        "type": "tab",
        "label": "URA Dinamica",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cf6ba580.d136e8",
        "type": "http in",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "60a66926.ec01b8"
            ]
        ]
    },
    {
        "id": "af5b81a5.e0df8",
        "type": "http response",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "60a66926.ec01b8",
        "type": "change",
        "z": "9ab91bb2.9ce5d8",
        "name": "response",
        "rules": [
            {
                "t": "set",
                "p": "payload.running",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.timestamp",
                "pt": "msg",
                "to": "$now()",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.port",
                "pt": "msg",
                "to": "PORT",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "af5b81a5.e0df8"
            ]
        ]
    },
    {
        "id": "6d806c31e5d65a6f",
        "type": "http in",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "url": "/cnpj",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "d0cad5976a9a59de"
            ]
        ]
    },
    {
        "id": "fc3d8c0b7397466a",
        "type": "http response",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "d0cad5976a9a59de",
        "type": "http request",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://ec2-34-211-68-118.us-west-2.compute.amazonaws.com:1880/cnpj",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "fc3d8c0b7397466a"
            ]
        ]
    },
    {
        "id": "9a49fee54a728cde",
        "type": "http in",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "url": "/cpf",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "fa580d51b8729fe4"
            ]
        ]
    },
    {
        "id": "69872682ab208f8b",
        "type": "http response",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 380,
        "wires": []
    },
    {
        "id": "fa580d51b8729fe4",
        "type": "http request",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://ec2-34-211-68-118.us-west-2.compute.amazonaws.com:1880/cpf1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "69872682ab208f8b"
            ]
        ]
    },
    {
        "id": "c017ea2139935a0c",
        "type": "http in",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "url": "/gerar-cid",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "90bae70fce454118"
            ]
        ]
    },
    {
        "id": "35602dddefeb7706",
        "type": "http response",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 440,
        "wires": []
    },
    {
        "id": "90bae70fce454118",
        "type": "http request",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://54.234.138.123:1880/gerar-cid",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "35602dddefeb7706"
            ]
        ]
    },
    {
        "id": "16ccff4b05933c33",
        "type": "http in",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "url": "/fraudometros",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "0ce2aebc814c47a0"
            ]
        ]
    },
    {
        "id": "6a1f2be3a3867c87",
        "type": "http response",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "0ce2aebc814c47a0",
        "type": "http request",
        "z": "9ab91bb2.9ce5d8",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://resolvrisk.com.br:1880/api/v1/fraudometros",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "6a1f2be3a3867c87"
            ]
        ]
    },
    {
        "id": "b95e9f347f5c45ce",
        "type": "inject",
        "z": "b9a910fea35c5710",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "a1a1b8e9b63abad5"
            ]
        ]
    },
    {
        "id": "a1a1b8e9b63abad5",
        "type": "http request",
        "z": "b9a910fea35c5710",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.amazoniaplanos.com.br/boleto/?idSessao=46740e9d7566a895c98631ebfeaf9530&id_pagamento=1137903",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 460,
        "y": 120,
        "wires": [
            [
                "da690b9290b33e91"
            ]
        ]
    },
    {
        "id": "da690b9290b33e91",
        "type": "debug",
        "z": "b9a910fea35c5710",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "16bae51fc37c54f1",
        "type": "http in",
        "z": "87be6b70d2067abc",
        "name": "",
        "url": "/ura",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 180,
        "wires": [
            [
                "25614bda9e26fa3d",
                "644dcac99c897b23"
            ]
        ]
    },
    {
        "id": "006d60d38b4764c2",
        "type": "http response",
        "z": "87be6b70d2067abc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "b1dab3b3f03af470",
        "type": "change",
        "z": "87be6b70d2067abc",
        "name": "start",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.nome",
                "pt": "msg",
                "to": "Teste URA Dinamica",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.dados",
                "pt": "msg",
                "to": "[{\"acao\":\"tts\",\"acao_dados\":{\"mensagem\":\"Seja bem-vindo ao teste de URA! Esta é a primeira etapa. Digite o seu CEP para que eu possa identificar o seu endereço\",\"coletar_dtmf\":\"8\",\"timeout\":\"30\"}},{\"acao\":\"dinamico\",\"acao_dados\":{\"url\":\"https://the-nodes-tim.herokuapp.com/ura?step=zipcode\"}}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "6ec26f7f4c481999"
            ]
        ]
    },
    {
        "id": "25614bda9e26fa3d",
        "type": "http request",
        "z": "87be6b70d2067abc",
        "name": "Webhook",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://webhook.site/87ed3353-280d-418d-bf4f-8fd0b2b9a108",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 220,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "644dcac99c897b23",
        "type": "switch",
        "z": "87be6b70d2067abc",
        "name": "step check",
        "property": "req.query.step",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "zipcode",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "b1dab3b3f03af470"
            ],
            [
                "51b8e08c94437a8e"
            ]
        ]
    },
    {
        "id": "acc7961e8d623bc3",
        "type": "http request",
        "z": "87be6b70d2067abc",
        "name": "viacep",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 180,
        "wires": [
            [
                "e17d495f52c244f5"
            ]
        ]
    },
    {
        "id": "51b8e08c94437a8e",
        "type": "template",
        "z": "87be6b70d2067abc",
        "name": "url",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://viacep.com.br/ws/{{payload.ultimo_dtmf}}/json",
        "output": "str",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "acc7961e8d623bc3"
            ]
        ]
    },
    {
        "id": "1b77128273a998ca",
        "type": "template",
        "z": "87be6b70d2067abc",
        "name": "valid",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"nome\": \"Zipcode\",\n    \"dados\": [\n        {\n            \"acao\": \"tts\",\n            \"acao_dados\": {\n                \"mensagem\": \"Certo. Identifiquei que você mora em {{ payload.logradouro }}, no bairro {{ payload.bairro}}, na cidade de {{ payload.localidade }}\"\n            }\n        }\n    ]\n}",
        "output": "json",
        "x": 790,
        "y": 160,
        "wires": [
            [
                "006d60d38b4764c2"
            ]
        ]
    },
    {
        "id": "e17d495f52c244f5",
        "type": "switch",
        "z": "87be6b70d2067abc",
        "name": "validate",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "1b77128273a998ca"
            ],
            [
                "cad486c56ad41c30"
            ]
        ]
    },
    {
        "id": "cad486c56ad41c30",
        "type": "template",
        "z": "87be6b70d2067abc",
        "name": "invalid",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"nome\": \"Zipcode\",\n    \"dados\": [\n        {\n            \"acao\": \"tts\",\n            \"acao_dados\": {\n                \"mensagem\": \"Opa! Parece que o CEP digitado é inválido. Digite novamente os 8 dígitos, por favor\",\n                \"coletar_dtmf\": \"8\",\n                \"timeout\": \"30\"\n            }\n        },\n        {\n            \"acao\": \"dinamico\",\n            \"acao_dados\": {\n                \"url\": \"https://the-nodes-tim.herokuapp.com/ura?step=zipcode\"\n            }\n        }\n    ]\n}",
        "output": "json",
        "x": 790,
        "y": 200,
        "wires": [
            [
                "006d60d38b4764c2"
            ]
        ]
    },
    {
        "id": "6ec26f7f4c481999",
        "type": "http response",
        "z": "87be6b70d2067abc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 120,
        "wires": []
    }
]